body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0 !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

/* Navbar */
a:-webkit-any-link {
  color: black;
  padding: 1rem;
}

a:-webkit-any-link :hover {
  color: white;
  background-color: #4188ff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15%;
  border: none;
  cursor: pointer;
}

.brand {
  transform: 0;
  margin-left: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
}

.brand:hover {
  transform: 0;
  -webkit-transform: scale(1.35);
  margin-left: 1rem;
  cursor: pointer;
}

.navbar {
  padding: 0;
}

a#navbarScrollingDropdown {
  /* background-color: ; */
  color: black;
}

a#navbarScrollingDropdown:hover {
  color: white;
  background-color: #4188ff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15%;
  border: none;
  cursor: pointer;
}

div#google_translate_element {
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.goog-te-combo,
.goog-te-banner *,
.goog-te-ftab *,
.goog-te-menu *,
.goog-te-menu2 *,
.goog-te-balloon * {
  font-family: -apple-system;
  font-size: 16px;
  padding: 0.3rem;
}

.goog-te-gadget .goog-te-combo {
  margin: 2px 0;
  font-size: 16px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 15%;
}
/*
.bx {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  font-size: 26px;
  border-radius: 10px;
} */
a#navbarScrollingDropdown {
  /* padding: 16px; */
  margin-left: 1rem;
  width: max-content;
}

a.nav-item.nav-link {
  width: fit-content;
}
