.register-form,
.login-form {
  margin-top: 80px;
  width: fit-content;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 40px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

/* .container {
  background-image: url(../../../assets/img/login/bg-register-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* label {
  font-weight: bold;
  display: flex;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.error {
  color: red;
}

/* button */
.btn1 {
  background-color: #4188ff;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  /* border: none; */
  color: #fff;
}
.btn1:hover {
  transform: 0;
  color: #fff;
  -webkit-transform: scale(1.35);
  background-color: #4242ff;
  text-transform: uppercase;
  cursor: pointer;
}
.btn2 {
  background-color: red;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  /* border: none; */
  color: #fff;
  /* padding: 0.5rem;
  border: none;
  border-radius: 15%; */
}
.btn2:hover {
  transform: 0;
  color: #fff;
  -webkit-transform: scale(1.35);
  background-color: red;
  text-transform: uppercase;
  cursor: pointer;
}

.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

html.dark-theme .form-control {
  color: #c0c8d1;
  background-color: #030b23;
  border: 1px solid rgb(255 255 255 / 34%);
}

.form-group {
  margin-bottom: 1rem;
}
